// Mixins in here

.button {
  border-radius: 8px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  background-color: @button-bg;
  padding: 15px 10px;
  width: 95%;
  font-size: 1.5rem;
  color: @white;
}

.btn {
  .button();
}

.center () {
  display: flex;
  justify-content: center;
  align-items: center;
}

.space-between () {
  display: flex;
  justify-content: space-between;
}

.wrap () {
  display: flex;
  flex-wrap: wrap;
}

.flex-column() {
  display: flex;
  flex-direction: column;
}

.mobileView () {
  @media (max-width: 500px) {
    display: flex;
    flex-direction: column;
  }
}
// .img-content {
//   width: 40%;
//   padding-left: 1%;
//   @media (max-width: 500px) {
//     order: 2;
//   }
//   img {
//     border-radius: 10px;
//   }
// }
